/*
	The Preschool Palette:

	blue  : #3053AF
	green : #25A64A
	yellow: #F5DB22
	red   : #BB2628
	white : #FBF8FF
	gray  : #CFCFCF  NOT in the colourlovers palette

	url   : http://www.colourlovers.com/palette/1555897/Preschool
*/

html, body {
	margin: 0;
	padding: 0;
	background-color: #3053AF;
	color: #FBF8FF;
	font-family: courier;
}
header h1 {
	font-size: 32px;
	margin:0;
	height: 42px;
}
header i {
	color: #CFCFCF;
}
h4 {
	margin:0;
	padding:0;	
}
a {
	color: #F5DB22;
	text-decoration: none;
}
input {
	width: 300px;
	padding: 5px;
	border: 2px solid #BB2628;
	background-color: #FBF8FF;
	font-family: courier;
	font-size: 14px;
	text-align: center;
	outline: none;
}
div.menu, div.content {
	margin-top: 80px;
}
section {
	padding: 10px 0;
}
p {
	margin: 20px 0;
}
.indent {
	margin-left: 30px;
}
.menu {
	position: absolute;
	width: 200px;
	padding-left: 30px;
	padding-top: 42px;
}
.content {
	position: absolute;
	top: 0;
	left: 250px;
}
.menu nav a {
	display: block;
	margin-bottom: 15px;
}	
.menu nav {
	margin-bottom: 50px;
}